{{!-- main handlebar --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Broken Door</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="bg-light text-body">

  {{!-- jumbotron --}}
  <div class="jumbotron text-center">
    <h1>Broken Door</h1>
    <p>Broken Door ranks Employers!</p>
  </div>
  {{!-- jumbotron --}}

  <div>
    <header>
      <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            {{!-- if logged in --}}
            {{#if logged_in}}
            <li class="nav-item">
              <a class="nav-link active" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="logout">LogOut</a>
            </li>
            {{!-- if NOT logged in --}}
            {{else}}
            <li class="nav-item">
              <a class="nav-link active" href="/login">Login</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>
    {{!-- main section that is replaced by other handlebars --}}
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>