<div class="text-center">
  <h3>{{name}}</h3>
  <p>{{description}}</p>
  <p>
    <span class="dollar-amount">Employee Ranking: {{emp_rank}} / 100</span>
  </p>
  <p>
    <button class="btn btn-primary">Rank this employer!!</button>
  </p>
</div>